
@{
    ViewBag.Title = Hotels_Resrevation.Resources.HomeIndex.Downloads;
}

<div class="main-content" style="margin-bottom: -50px;">
    <div style="padding: 50px;background: url('/Content/imgs/site/download.jpg');background-repeat: no-repeat;background-size: cover;width: 100%;flex-direction: column;height: 500px;color: #fff;justify-content: center;display: flex;align-items: center;">
        <h2 style="text-align: center;font-size: 60px;">
            @Hotels_Resrevation.Resources.HomeIndex.Downloads
        </h2>
        <h3 style="text-align: center">@Hotels_Resrevation.Resources.HomeIndex.Download_Software</h3>
        <div class="ui form" style="display: flex;justify-content: center;">
            <div class="field">
                <button class="ui secondary button" onclick="search()">
                    @Hotels_Resrevation.Resources.HomeIndex.Download
                </button>
            </div>
        </div>
    </div>
</div>

